html,
body {
    height: 100%;
    position: relative;
}

.main {
    flex-grow: 1;
}

body {
    @extend %montserrat-alternates-400;
    font-size: 13px;
    line-height: 20px;
    color: $default;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    @extend %montserrat-alternates-600;
    font-size: 30px;
    line-height: 22px;
    color: $title;
}

/* BREADCRUMBS */

.breadcrumbs {
    background-color: $lightgrey;
    &__inner {
        display: flex;
        justify-content: center;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        color: $default;
        position: relative;
        padding: 14px 0;
        padding-right: 40px;
        &::after {
            content: '';
            position: absolute;
            background-image: url(../images/icons/arrow-back-btn.svg);
            width: 12px;
            height: 12px;
            top: 20px;
            right: 14px;
        }
        &:last-child::after {
            display: none;
        } 
        &:last-child {
            color: $accent;
        }
    }
    &__link {
        color: inherit;
    }
}

.arrow-up {
    width: 50px;
    height: 50px;
    background-color: $accent;
    border-radius: 10px;
    position: fixed;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    background-image: url(../images/icons/up-arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

/* SLICK-SLIDER */

.top-slider__content .slick-slide,
.goods-content__slide-thumb .slick-slide,
.goods-content__slide-big .slick-slide{
    margin-left: 0;
}

.slick-slide {
    margin-left: 30px;
}

.slider__one .slick-slide {
    max-width: 485px;
}

.slick-prev,
.slick-next {
    position: absolute;
    top: -57px;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.slick-prev {
    right: 35px;
}

.slick-next {
    right: 0;
}

/* rateYo */

.star {
    margin-bottom: 18px;
}

/* jquery */

.jq-ry-container {
    padding: 0;
}
.jq-ry-group-wrapper svg{
    padding-right: 2px;
}

