html,
body {
    height: 100%;
}

.main {
    flex-grow: 1;
}

body {
    @extend %montserrat-alternates-400;
    font-size: 13px;
    line-height: 22px;
    color: $default;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}

/* BREADCRUMBS */

.breadcrumbs {
    background-color: $lightgrey;
}
.breadcrumbs__inner {
    display: flex;
    justify-content: center;
}
.breadcrumbs__list {
    display: flex;
}
.breadcrumbs__item {
    color: $default;
    position: relative;
    padding: 14px 0;
    padding-right: 40px;
}
.breadcrumbs__item:last-child {
    color: $accent;
}
.breadcrumbs__link {
    color: inherit;
}
.breadcrumbs__item::after {
    content: '';
    position: absolute;
    background-image: url(../images/icons/arrow-back-btn.svg);
    width: 12px;
    height: 12px;
    top: 20px;
    right: 14px;
}
.breadcrumbs__item:last-child::after {
    display: none;
} 