@media screen and  (max-width: 1600px) { 
    .menu {
        &__list {
            transform: translateX(-400%);
            z-index: 5;
            position: absolute;
            width: 200px;
            border-radius: 10px;
            top: 242px;
            left: 406px;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            &.menu__list--active {
                transform: translateY(0%);
            }
            &-item {
                margin-bottom: 15px;
            }
            &-item + .menu__list-item {
                padding-left: 0;
            } 
        }
        &__catalog-link-box {
            display: block;
            position: relative;
        }
        &__btn {
            display: block;
            position: absolute;
            top: 13px;
            right: 7px;
            z-index: 2;
            height: 20px;
            color: #1a1a1a;
            border: none;
            border-radius: 0;
            background-color: transparent;
            background-image: url(../images/icons/burger.svg);  
            background-position: center center;
            background-repeat: no-repeat;
            padding: 0 20px;
        }
        &__new-img::before,
        &__new-img::after {
            display: none;
        }
    }
    .shop-content__product {
        grid-template-columns: repeat(4, 1fr);
    }
    .top-slider__inner {
        justify-content: space-around;
    }
   
    .benefits__info {
        flex-wrap: wrap;
    }

    .benefits__info-items {
        border-right: none;
    }
    .product,
    .blog,
    .partners,
    .novelty,
    .double__banner,
    .blog-items,
    .home__img,
    .top-slider__banner {
        display: none;
    }
    .double__banner {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .banner__title {
        font-size: 35px;
        margin-bottom: 20px;
    }
    .blog-content__inner {
        grid-gap: 60px 133px;
    }
    .about__img-girl {
        max-width: 400px;
    }
    .about__img-shop-peaple {
        max-width: 400px;
        margin-left: 235px; 
        margin-top: -242px ;
    }
    .client::after {
        display: none;
    }
    .goods-filter__color-checkbox {
        margin-bottom: 10px;
    }
    .goods-filter__size {
        margin-bottom: 30px;
    }
    .goods-filter__color {
        margin-bottom: 5px;
    }
}

/*1400-------------------------------------------------------*/

@media (max-width: 1400px) {
    .popular__tabs{
        grid-template-columns: repeat(2, 1fr);
    }
    .popular-item {
        max-width: 100%;
    }
    .shop-content__product {
        grid-template-columns: repeat(3, 1fr);
    }
    .goods-item {
        display: none; 
    }
    .popular__tabs.popular__tabs--active {
        display: block;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
    .banner__inner-box {
        margin-top: 0;
        background-color: $darkgrey;
        border-radius: 10px;
    }
    .banner__inner {
        overflow: visible;
        max-height: none;
    }
    .banner__sybtitle {
        margin: 20px 0;
    }
}

/*1300-------------------------------------------------------*/

@media (max-width: 1300px) {
    .serche,
    .top-slider__items {
        display: none;
    }
    .footer-top__link {
        display: block;
        margin-bottom: 10px;
    }
    .top-slider__inner {
        flex-direction: column;
    }
    .blog-content__inner {
        grid-gap: 40px 30px;
    }
    .about {
        padding: 0;
    }
    .about__inner {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .about__img {
        margin-top: 50px;
        flex-basis: 440px;
    }
    .about__info {
        flex-basis: 440px;
    }
    .about__img-girl {
        max-width: 400px;
    }
    .about__img-shop-peaple {
        max-width: 400px;
        margin-left: 235px; 
        margin-top: -242px ;
    }
}

/*1100-------------------------------------------------------*/

@media (max-width: 1100px) {
    .shop-content__product {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*990-------------------------------------------------------*/

@media (max-width: 990px) {
    .header__top-items {
        padding-left: 0;
        margin-bottom: 10px;
        border-right: none;
    }
    .top-slider__content-inner {
        left: 370px;
    }
    .top-slider__content-inner--left {
        left: 100px;
    }
    .menu__list {
        top: 313px;
    }
    .popular-item {
        margin-bottom: 30px;
    }
    .header__top-list,
    .popular__top,
    .contact__inner {
        display: block;
    }
    .banner__inner-box{
        top: 20px;
        left: 300px;
    }
    .contact__info {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .contact__info-local,
    .contact__info-time,
    .contact__info-phone,
    .contact__info-email {
        margin-left: 75px;
        flex-grow: 1;
    }
    .goods-item {
        display: none;
    }
    .goods-content__top {
        display: block;
    }
    div.goods-content__slide {
        margin-right: 0;
        margin-bottom: 40px;
    }
    .goods__inner {
        justify-content: center;
    }
    .popular__tabs.popular__tabs--active {
        display: block;
    }
    .popular__btn {
        margin-left: 0;
    }
    .shop-content__filter-btn--active {
        margin-bottom: 5px;
    }
    
}

/*840-------------------------------------------------------*/

@media (max-width: 840px) {
    .header__main {
        flex-direction: column;
        align-items: center;
    }
    .header__info {
        flex-direction: column;
        align-items: start;
    }
    .header__info-address,
    .header__main-logo {
        margin-bottom: 20px;
    }
    .header__main-logo {
        margin-right: 60px;
    }
    .header__info-time,
    .header__info-address {
        margin-left: 50px;
    }
    .footer-top {
        flex-direction: column;
    }
    .footer-top__inner {
        margin-top: 30px;
    }
    .top-slider__sybtitle {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .top-slider__title {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .top-slider__content-inner {
        display: none;
    }
    .menu__list {
        top: 434px;
    }
    .top-slider__btn {
        font-size: 10px;
    }
    .error__page-numb span {
        font-size: 200px;
    }
    .reg__inner {
        flex-direction: column;
        align-items: center;
    }
    .filter-popular,
    .filter-banner {
        display: none;
    }
    .shop__inner {
        display: block;
    }
    .shop-filter {
        max-width: 100%;
    }
}

/*680-------------------------------------------------------*/

@media (max-width: 680px) {
    .header__menu {
        flex-direction: column;
    }
    .menu__catalog-link {
        margin: 0 0 20px 0;
        &-box {
            margin-bottom: 20px;
        }
    }
    .footer-top {
        &__inner {
            flex-direction: column;
            width: 100%;
            margin: 0;
        }
        &__items {
            margin-bottom: 40px;
        }
        &__menu {
            margin-bottom: 30px;
        }
        &__nav,
        &__items {
            width: 100%;
        }
    }
    .top-slider {
        &__sybtitle {
            font-size: 14px;
            margin-bottom: 20px;
        }
        &__title {
            font-size: 24px;
            margin-bottom: 30px;
        }
    }
    .menu__list {
        top: 542px;
        left: 100px;
    }
    .benefits__info-item {
        margin-left: 20px;
    }
    .contact__form-btn {
        margin-top: 30px;
    }
    .blog-content__inner {
        display: block;
    }
    .blog-item-page {
        margin-bottom: 30px;
    }
    .about__img {
        display: none;
    }
    .about__info {
        margin-top: 50px;
    }
    .goods-content__slide {
        display: none;
    }
    .goods__review-bottom {
        align-items: center;
        flex-direction: column;
    }
    .goods__review-user {
        margin-bottom: 30px;
    }
    .banner__title {
        font-size: 22px;
    }
    .banner__sybtitle {
        font-size: 15px;
    }
    .shop-content__inner {
        display: block;
    }
}

/*560-------------------------------------------------------*/

@media (max-width: 560px) {
    .popular__btn {
        display: inline-block;
        margin-bottom: 10px;
    }
    .popular-item {
        display: block;
    }
    .popular__filter-btn {
        padding-bottom: 30px;
    }
    .sale__product,
    .new__product {
        display: none;
    }
    .popular-item__img {
        margin-bottom: 20px;
    }

    .form__carancy {
       margin-left: 26px;
    }
    .header__top {
        display: block;
        &-items {
            padding-right: 0;
        }
        &-icon-img {
            padding-right: 10px;
        }
    }
    .form__carancy-title::before {
        left: -26px;
    }
    .error__page-numb span {
        font-size: 100px;
    }
    .error__page-title {
        font-size: 20px;
    }
    .about__info__title {
        font-size: 24px;
        margin-bottom: 25px;
    }
    .shop-content__product {
        grid-template-columns: repeat(1, 1fr);
    }
    .popular-item__link-box {
        margin-left: 0;
    }
}

/*440-------------------------------------------------------*/

@media (max-width: 440px) {
    .menu__catalog {
        font-size: 14px;
    }
    .footer-top__link {
        font-size: 18px;
    }
    .footer-bottom {
        padding: 20px;
    }
    .top-slider__sybtitle {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .top-slider__title {
        font-size: 36px;
        margin-bottom: 30px;
    }
    .reg__form {
        margin-left: 0;
    }
    .client__titile {
        font-size: 20px;
    }
    .banner__sybtitle {
        font-size: 12px;
    }
    .banner__title {
        font-size: 15px;
    }
    .shop-content__bottom {
        flex-direction: column-reverse;
    }
    .pagination-top {
        margin-bottom: 50px;
    }
}