html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
    
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border: 2px solid #ffdd00;
  background: hsla(343, 88%, 58%, 1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsla(343, 88%, 58%, .7);
}

::-webkit-scrollbar-track {
  background: #ffdd00;
  border-radius: 10px;
}

ul[class],
ol[class]{
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

button[class] {
  cursor: pointer;
}

ul[class],
ol[class] {
  list-style: none;
}
  
img {
  max-width: 100%;
  display: block;
}
  
input,
button,
textarea,
select {
  font: inherit;
}

a[class]{
  text-decoration: none;
}