.about {
    padding: 70px 0;
}
.about__inner {
    display: flex;
}
.about__img {
    flex-basis: 800px;
    margin-right: 70px;
}
.about__img-shop-peaple {
    border-radius: 10px;
    margin-left: auto;
    margin-top: -315px;
}
.about__info {
    flex-basis: 700px;
}
.about__info__title {
    margin-bottom: 46px;
}
.about__info-text {
    margin-bottom: 30px;
}
.about__info-item {
    position: relative;
}
.about__info-item::before{
    content: url(../images/about/ok.svg);
    position: absolute;
    top: 0;
    left: -20px;
}
.about__info-link {
    display: inline-block;
    margin-top: 40px;
    @extend %btny;
}

.client {
    background-color: $blue;
    padding: 40px 0;
    margin-bottom: 70px;
    position: relative;
}
.client::after {
    content: url(../images/about/boy.png);
    position: absolute;
    bottom: -6px;
    right: 175px;
 }
.client__info {  
    max-width: 960px;
    margin: 0 0 40px 30px;
}
.client__text {
    @extend %montserrat-alternates-400;
    font-size: 13px;
    color: $title;
    margin-bottom: 40px;
}

.client__titile {
    margin-bottom: 40px;
}
.client__subtitile {
    @extend %montserrat-alternates-600;
    font-size: 15px;
    margin-bottom: 20px;
    color: $title;
    position: relative;
}
.client__subtitile::before {
    content: url(../images/about/ok.svg);
    position: absolute;
    top: 0;
    left: -30px;
}
.client__link {
    position: relative;
    padding: 15px 32px 15px 20px;
    background-color: $accent;
    border-radius: 10px;
    @extend %montserrat-alternates-400;
    font-size: 13px;
    color: #FFFFFF;
    &::after {
        position: absolute;
        content: url(../images/icons/arrow-back-btn.svg);
        top: 15px;
        right: 13px;
    }
}