.blog__inner-box {
    display: flex;
    padding-top: 50px;
}

.blog-filter {
    &__menu {
        margin: 25px 0 30px;
    }
    &__item {
        padding-bottom: 14px;
    }
    &__img {
        display: inline;
        padding-right: 10px;
    }
    &__link {
        @extend %montserrat-alternates-400;
        color: $default;
        transition: all .3s;
        &:hover {
            font-weight: 900;
            color: $title;
        }
    }
}

.blog-content__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ededed;
    margin-bottom: 50px;
}

.blog-items {
    margin-right: 50px;
}

.blog__anons {
    flex-grow: 1;
}

.blog-item-page {
    max-width: 630px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-content .pagination__link:first-child {
    margin-left: 0;
}





