.blog__inner-box {
    display: flex;
    padding-top: 50px;
}

.blog-content__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ededed;
    margin-bottom: 50px;
}

.blog-items {
    margin-right: 50px;
}

.blog-item-page {
    max-width: 630px;
}

.blog-content .pagination__link:first-child {
    margin-left: 0;
}

.blog-filter__menu {
    margin: 25px 0 30px;
}

.blog-filter__item {
    padding-bottom: 14px;
}

.blog-filter__img {
    display: inline;
    padding-right: 10px;
}

.blog-filter__link {
    @extend %montserrat-alternates-400;
    color: $default;
    transition: all .3s;
}

.blog-filter__link:hover {
    font-weight: 900;
    color: $title;
}