.shop {
    padding: 50px 0;
    &__inner {
        display: flex;
    }
    &-item {
        flex: 1 0 235px;
        margin-right: 35px;
    }
    &__list {
        appearance: none;
        background-image: url(../images/icons/arrow-down.svg);
        background-position: 90% center;
        background-repeat: no-repeat;
        background-color: #fafafa;
    }
    &-filter {
        max-width: 235px;
        &__form {
            padding: 25px 0 50px;
        }
        &__name {
            margin-bottom: 5px;
        }
        &__subtitle {
            display: block;
            margin-bottom: 10px;
            & select {
                border-radius: 10px;
                width: 100%;
                border: 1px solid $darkgrey;
                padding: 6px 15px;
            }
        }
        &__text-price {
            border-radius: 10px;
            width: 113px;
            border: 1px solid $darkgrey;
            padding: 6px 70px 6px 15px;
            margin: 0 5px 20px 0;
        }
        &__text-price:last-child {
            margin-right: 0;
        } 
        &__btn--filt{
            border: none;
            width: 100%;
            height: 40px;
            background-color: $accent;
            border-radius: 10px;
            @extend %montserrat-alternates-400;
            font-size: 13px;
            color: #FFFFFF;
            margin-bottom: 5px;
        }
        &__btn--res {
            border: none;
            width: 100%;
            height: 40px;
            background-color: $yellow;
            border-radius: 10px;
            @extend %montserrat-alternates-400;
            font-size: 13px;
            color: $title;
        }
    }
}

.shop-filter__title,
.blog-filter__title {
    color: $title;
    @extend %montserrat-alternates-600;
    font-size: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid $darkgrey;
}

.filter-popular {
    max-width: 235px;
    &-box{
        padding-bottom: 60px;
    }
    &__item {
        padding-top: 25px;
        display: flex;
        &-imges {
            width: 60px;
            height: 60px;
            margin-right: 18px;
        }
    }
    &__item-title {
        @extend %montserrat-alternates-600;
        font-size: 13px;
        line-height: 16px;
        color: $title;
        margin-bottom: 5px;
    }
    &__item-price-new {
        display: inline;
        @extend %montserrat-alternates-600;
        font-size: 15px;
        color: $accent;
        margin-right: 5px;
    }
    &__item-price-old {
        display: inline;
        @extend %montserrat-400;
        font-size: 11px;
        color: $default;
    }
}

.filter-banner{
    position: relative;
    max-width: 235px;
    &__inner {
        position: absolute;
        top: 40px;
        left: 40px;
    }
    &__sybtitle {
        display: block;
        @extend %montserrat-alternates-700;
        font-size: 17px;
        line-height: 22px;
        margin-bottom: 35px;
    }
    &__btn--blue {
        @extend %btnb;
        &::after {
            position: absolute;
            content: url(../images/icons/arrow-back-btn.svg);
            top: 10px;
            right: 20px;
        }
    }
}

.shop-content {
    &__text {
        margin: 25px 0;
        & span {
            color: $accent;
        }
    }
    &__product {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 40px 30px;
        padding-bottom: 40px;
        border-bottom: 1px solid $darkgrey;
    }
    &__filter-btn {
        background-color: transparent;
        border-radius: 10px;
        border: 2px solid $darkgrey;
        &--active {
            border: 2px solid $title;
            path {
                fill: $title;
            }
        }
    }
}

.shop-content {
    &__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &__selects {
        border: 2px solid $darkgrey;
        color: $default;
        padding: 5px 18px;
        border-radius: 10px;
    }
    &__selects-btn {
        @extend %montserrat-400;
        line-height: 28px;
        background-color: transparent;
        border-radius: 10px;
        border: none;
        color: inherit;
        position: relative;
        &::before {
            content: '.';
            position: absolute;
            top: -4px;
            right: -3PX;
            font-size: 24px;
        }
        &:last-child::before {
            content: none;
        }
    }
    &__bottom {
        margin-top: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-btn {
            padding: 15px 20px;
            background-color: $blue;
            border-radius: 10px;
            @extend %montserrat-alternates-400;
            font-size: 13px;
            color: $title; 
        }
    }
}

.max-sort {
    padding: 10px 10px 0 15px;
}

.min-sort {
    padding: 10px 13px 0 12px;
}

.pagination a {
    margin-left: 5px;
}

.pagination__link-next,
.pagination__link {
    padding: 15px;
    background-color: #eeeeee;
    border-radius: 10px;
    @extend %montserrat-alternates-400;
    font-size: 13px;
    color: $title; 
}

.pagination__link {
    padding: 15px 20px;
    &--active {
        background-color: $accent;
        color: #FFFFFF; 
    }
}
