.contact {
    padding: 56px 0 70px;
    &__inner {
        display: flex;
    }
    &__map {
        padding-top: 50px;
    }
    &__info {
        &-time {
            position: relative;
            padding-top: 5px;
            margin: 0 0 30px 137px;
            &::before {
                position: absolute;
                content: url(../images/icons/globe.svg);
                top: 5px;
                left: -50px;
            }
        }
        &-local {
            position: relative;
            padding-top: 5px;
            margin: 0 0 30px 137px;
            &::before {
                position: absolute;
                content: url(../images/icons/map.svg);
                top: 5px;
                left: -50px;
            }
        }
        &-phone {
            position: relative;
            padding-top: 5px;
            margin: 0 0 30px 137px;
            &::before {
                position: absolute;
                content: url(../images/icons/phone-contact.svg);
                top: 5px;
                left: -50px;
            }
        }
        &-email {
            position: relative;
            padding-top: 5px;
            margin: 0 0 30px 137px;
            &::before {
                position: absolute;
                content: url(../images/icons/telegram.svg);
                top: 5px;
                left: -50px;
            }
        }
        &-title {   
            @extend %montserrat-alternates-600;
            font-size: 15px;    
            line-height: 18px;
            color: $title;
        }
    }
    &__form {
        &-title {
            padding-bottom: 50px;
        }
        &-input {
            width: 560px;
            height: 50px;
            margin-bottom: 30px;
            border-radius: 10px;
            border: 1px solid $darkgrey;
            color: $title;
            padding: 20px 0 20px 20px;
            &-text {
                width: 100%;
                height: 140px;
                border-radius: 10px;
                border: 1px solid $darkgrey;
                color: $darkgrey;
                padding: 20px 0 20px 20px;
                flex-grow: 1;
                margin-bottom: 30px;
            }
        }
        &-btn {
            position: relative;
            padding: 9px 45px 9px 20px;
            background-color: $yellow;
            border-radius: 10px;
            @extend %montserrat-alternates-400;
            font-size: 13px;
            color: $title;
            border: none;
            &::after {
                position: absolute;
                content: url(../images/icons/arrow-back-btn.svg);
                top: 10px;
                right: 20px;
            }
            &:hover {
                background-color: $accent;
                color: #FFFFFF;
            }
        }
        &-label {
            padding-right: 39px; 
        }
    }
}

.form__cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1150px;
}

#map {
    border-radius: 10px;
    max-width: 1570px;
    height: 350px;
}

.contact__info-subtitle,
.contact__info-time-link {
    @extend %montserrat-400;
    font-size: 13px;  
    line-height: 18px; 
    color: $title;
}
