/* HEADER */

.header {
    color: $title;
    background-color: $lightgrey;
    &__top {
        display: flex;
        justify-content: space-between;
        padding: 14px 0;
        &-list {
            display: flex;
            justify-content: space-between;
            position: relative;
        }
        &-items {
            display: flex;
            padding-left: 28px;
            padding-right: 17px;
            border-right: 1px solid $default;
            &:last-child {
                border-right: none;
            }
            &:first-child {
                padding-left: 0;
            }
        }
        &-icon-img {
            padding-right: 17px;
        }
        &-link {
            color: $title;
        }
    }
    &__center {
        background-color: $accent;
        padding: 28px 0;
    }
    &__bottom {
        background-color: $blue;
        padding: 12px 0;
        &--size{
            padding: 22px 0;
        }
    }
    &__main {
        display: flex;
        justify-content: space-between;
        &-logo {
            display: flex;
            flex-grow: 1;
            margin-right: 20px;
        }
    }
    &__info {
        @extend %montserrat-alternates-600;
        display: flex;
        font-size: 15px;
        color: #FFFFFF;
        &-address {
            position: relative;
            margin-left: 100px;
            padding-top: 5px;
            &::before {
                position: absolute;
                content: url(../images/icons/world.svg);
                top: 5px;
                left: -50px;
            }
        }
        &-title {   
            @extend %montserrat-alternates-600;
            font-size: 15px;    
            line-height: 18px;
        }
        &-subtitle {
            @extend %montserrat-400;
            font-size: 13px;  
            line-height: 18px; 
        }
        &-time {
            position: relative;
            padding-top: 5px;
            margin-left: 100px;
            &::before {
                position: absolute;
                content: url(../images/icons/clock.svg);
                top: 5px;
                left: -50px;
            }
        }
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.form__carancy {
    position: relative;
    &-title {
        color: $title;
        &::before {
            content: url(../images/icons/dollar.svg);
            position: absolute;
            top: 1px;
            left: -20px;
        }
    }
    &-list {
        border: none;
        background-color: transparent;
    }
}

.logo__text {
    margin-left: 12px;
    &-title {
        @extend %montserrat-alternates-700;
        font-size: 26px;
        text-transform: uppercase;
        color: #ffffff;
    }
    &-subtitle {
        color: #ffffff;
    }
}

.serche {
    @extend %montserrat-alternates-400;
    font-size: 13px;
    width: 440px;
    position: relative;
    &__product {
        appearance: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        height: 44px;
        border: 0;
        border-radius: 10px;
        background-color: $yellow;
        padding-left: 20px;
        background-image: url(../images/icons/arrow-down.svg);  
        background-position: 80% center;
        background-repeat: no-repeat;
    }
}

.form__search {
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 44px;
    border: none;
    padding-left: 125px;
    padding-right: 60px;
    &-btn {
        position: absolute;
        top: 12px;
        right: 0;
        z-index: 2;
        height: 20px;
        color: #1a1a1a;
        border: none;
        border-left: 1px solid #1a1a1a;
        border-radius: 0;
        background-color: transparent;
        background-image: url(../images/icons/search.svg);  
        background-position: center center;
        background-repeat: no-repeat;
        padding: 0 20px;
    }
}

.menu {
    display: flex;
    align-items: center;
    flex-grow: 1;
    &__catalog {
        @extend %montserrat-alternates-600;
        padding: 12px 87px 12px 28px;
        font-size: 15px;
        background-color: #FFFFFF;
        border-radius: 10px;
        &-img {
            position: absolute;
            top: 12px;
            right: 15px;
        }
        &-link {
            color: $title;
            position: relative;
            transition: all .3s;
            margin-right: 30px;
            &-box {
                display: none;
            }
        }
    }
    &__list {
        display: flex;
        &-link {
            @extend %montserrat-alternates-500;
            font-size: 15px;
            line-height: 22px;
            color: $title;
            padding-right: 20px;  
        }
        &-item + .menu__list-item {
            padding-left: 40px;
        } 
    }
    &__btn {
        display: none;
        &-visible {
            display: block;
            position: absolute;
            top: 13px;
            right: 7px;
            z-index: 2;
            height: 20px;
            color: #1a1a1a;
            border: none;
            border-radius: 0;
            background-color: transparent;
            background-image: url(../images/icons/burger.svg);  
            background-position: center center;
            background-repeat: no-repeat;
            padding: 0 20px;
        }
    }
    &__new-img {
        position: relative;
        &::after {
            content: "новое";
            position: absolute;
            top: -18px;
            left: 70px;
            @extend %montserrat-alternates-400;
            font-size: 9px;
            line-height: 16px;
            font-weight: 600;
            text-transform: uppercase;
            color: $title;
            padding: 0px 6px;
            background-color: #FFFFFF;
            border-radius: 8px;
        }
        &::before {
            content: '';
            position: absolute;
            top: -6px;
            right: 8px;
            width: 7px;
            height: 7px;
            background-color: #FFFFFF;
            transform: rotate(110deg) skewX(50deg);
        }
    }
}

.catalog__arrow {
    padding-right: 10px;
}

.link__arrow {
    position: relative;
    &::after {
        position: absolute;
        content: url(../images/icons/arrow-down.svg);
        right: 0;
        bottom: -2px;
    }
}

.user__nav {
    display: flex;
    &-link {
        position: relative;
    }
    &-numb {
        position: absolute;
        top: -8px;
        right: -10px;
        width: 16px;
        height: 16px;
        @extend %montserrat-alternates-600;
        font-size: 11px;
        line-height: 16px;
        background-color: #FFFFFF;
        border-radius: 50%;
        text-align: center;
    }
    &-link + .user__nav-link{
        padding-left: 25px;
    }
}

/* MAIN */

/* TOP SLIDER */

.top-slider {
    background-color: $lightgrey;
    padding: 30px 0;
    &__inner {
        display: flex;
    }
    &__menu {
        position: relative;
        @extend %montserrat-alternates-400;
        line-height: 40px;
        max-height: 400px;
        border-radius: 10px;
        margin-right: 30px;
        background-color: #FFFFFF;
        transform: translateY(0);
        padding: 16px 30px;
        width: 290px;
        &.top-slider__menu--active {
            transform: translateY(-300%);
        }
    }
    &__item {
        position: relative;
        border-bottom: dashed 1px $darkgrey;
        &:last-child{
            border-bottom: none;
        }
    }
    &__link {
        display: block;
        @extend %montserrat-alternates-500;
        color: $title;
        font-size: 13px;
        &-color {
            @extend %montserrat-alternates-700;
            color: $accent;
        }
    }
    &__arrow-link::after {
        position: absolute;
        content: url(../images/icons/arrow-right.svg);
        right: 0;
        bottom: -2px;
    }
    &__btn {
        position: relative;
        color: $title;
        padding: 10px 45px 10px 25px;
        background-color: $yellow;
        border-radius: 10px;
        @extend %montserrat-alternates-400;
        font-size: 13px;
        transition: all 0.5s;
        &::after {
            content: url(../images/icons/arrow-back-btn.svg);
            position: absolute;
            top: 12px;
            right: 20px;
        }
        &--left {
            background-color: $blue;
        }
    }
    &__content {
        overflow: hidden;
        position: relative;
        &-inner {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: absolute;
            top: 120px;
            left: 410px;
            &--left {
                align-items: flex-start;
                top: 120px;
                left: 100px;
            }
        }
    }
    &__sybtitle {
        @extend %montserrat-alternates-500;
        font-size: 24px;
        line-height: 22px;
        color: #FFFFFF;
        margin-bottom: 37px;
    }
    &__title {
        @extend %montserrat-alternates-700;
        font-size: 48px;
        line-height: 22px;
        color: $accent;
        margin-bottom: 65px;
    }
    &__banner {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        &-traine {
            position: relative;
            border-radius: 10px;
            width: 350px;
            height: 185px;
            margin-bottom: 30px;
            overflow: hidden;
        }
        &-children {
            position: relative;
            border-radius: 10px;
            width: 350px;
            height: 185px;
            overflow: hidden;
        }
        &-inner {
            position: absolute;
            top: 20px;
            left: 20px;
            &--yellow {
                position: absolute;
                text-align: right;
                top: 20px;
                right: 20px;
            }
        }
        &-sybtitle {
            display: block;
            @extend %montserrat-alternates-700;
            font-size: 17px;
            line-height: 22px;
            margin-bottom: 20px;
        }
        &--blue {
            display: inline-block;
            position: relative;
            padding: 10px 40px 10px 20px;
            background-color: $blue;
            border-radius: 10px;
            @extend %montserrat-alternates-400;
            font-size: 13px;
            color: $title;
            transition: all 0.5s;
            &::after {
                position: absolute;
                content: url(../images/icons/arrow-back-btn.svg);
                top: 12px;
                right: 20px;
            }
            &:hover {
                background-color: $accent;
                color: #FFFFFF;
                transition: all 0.5s;
            }
        }
        &--yellow {
            position: relative;
            display: inline-block;
            padding: 10px 40px 10px 20px;
            background-color: $yellow;
            border-radius: 10px;
            @extend %montserrat-alternates-400;
            font-size: 13px;
            color: $title;
            transition: all 0.5s;
            &::after {
                position: absolute;
                content: url(../images/icons/arrow-back-btn.svg);
                top: 12px;
                right: 20px;
            }
            &:hover {
                background-color: $accent;
                color: #FFFFFF;
                transition: all 0.5s;
            }
        }
    }
    &__slider {
        max-width: 870px;
        border-radius: 10px;
        overflow: hidden; 
        & .slick-slide {
            margin-left: 0;
        }
        & .slick-prev {
            top: 50%;
            left: 15px;
            z-index: 1;
            transform: translateY(-50%);
            overflow: hidden;
        }
        & .slick-next {
            top: 50%;
            right: 15px;
            z-index: 1;
            transform: translateY(-50%);
        }
    }
}

.top__decor {
    position: absolute;
    width: 14px;
    height: 14px;
    top: -7px;
    right: 30px;
    background: #fff;
    transform: rotate(45deg);
}

/* BENEFITS */

.benefits {
    padding: 30px 0 50px;
    &__info {
        display: flex;
        justify-content: space-evenly;
        border: 1px solid $darkgrey;
        border-radius: 10px;
        &-img {
            margin-right: 20px;
            &:hover {
                animation: benefits-deg 0.5s;
            }
        }
        &-title {
            @extend %montserrat-alternates-600;
            font-size: 15px;
            color: $title;
        }
        &-subtitle {
            @extend %montserrat-alternates-400;
            font-size: 13px;
            color: $default;
        }
        &-item {
            display: flex;
            padding: 27px 0;
        }
        &-items {
            border-right: 1px solid $darkgrey;
            padding-right: 40px; 
            &--none {
                border-right: none;
            }
        }
    }
}

/* PRODUKT */

.product {
    padding-bottom: 50px;
    &__title {
        padding-bottom: 36px;
    }
    &-item {
        display: flex;
        flex-direction: column;
        width: 236px !important;
        &:hover {
            .product-item__link-box {
                transform: translateY(0);
            }
        }
        &:first-child {
            margin-left: 0;
        }
        &__img-box {
            position: relative;
            overflow: hidden;
            margin-bottom: 18px;
        }
        &__imges {
            object-fit: cover;
        }
        &__link-box {
            display: flex;
            position: absolute;
            left: 10px;
            bottom: 10px;
            transform: translateY(300%);
            transition: all .3s;
            & a {
                margin-right: 5px;
            }
        }
        &__link:last-child {
            margin-right: 0;
        }
        &__btn {
            @extend %btnbye;
            padding-left: 35px;
            padding-top: 8px;
        }
        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background-color: $yellow;
            border-radius: 10px;
        }
        &__title {
            @extend %montserrat-alternates-600;
            font-size: 15px;
            line-height: 18px;
            color: $title;
            margin-bottom: 12px;
            flex-grow: 1;
        }
        &__price {
            display: flex;
            align-items: flex-end;
            line-height: 22px;
        }
        &__new-price {
            @extend %montserrat-alternates-600;
            font-size: 17px;
            color: $accent;
            margin-right: 10px;
        }
        &__old-price {
            @extend %montserrat-alternates-400;
            font-size: 11px;
            color: $default;
            text-decoration: line-through;
        }
    }
}

.new__product {
    background-color: $blue;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 0 10px;
    @extend %montserrat-alternates-600;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 30px;
}

.sale__product {
    background-color: $yellow;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 10px 0;
    @extend %montserrat-alternates-600;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    padding-top: 8px;
}

/* NEW SHOP */

.novelty {
    padding-bottom: 50px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        max-width: 1036px;
    }
    &__reviews {
        width: 485px;
        margin-left: 50px;
        &-text {
            @extend %montserrat-alternates-400;
            font-size: 13px;
            color: $default;
            padding: 22px 30px;
            &--last {
                padding-top: 0;
            }
        }
        &-manager-name {
            @extend %montserrat-alternates-600;
            font-size: 17px;
            color: $title;
        }
        &-manager-subname {
            @extend %montserrat-alternates-400;
            font-size: 13px;
            color: $default;
        }
        &-manager-img {
            border-radius: 50%;
        }
        &-manager-info {
            display: flex;
            align-items: center;
        }
        &-content{
            position: relative;
            background-color: $lightgrey;
            margin-bottom: 40px;
            border-radius: 10px;
        }
    }
    &__title {
        padding-bottom: 28px;
    }
}

.manager-info {
    margin-left: 25px;
}

.decor__reviews{
    width: 20px;
    height: 20px;
    background: #f8f8f8;
    position: absolute;
    bottom: -10px;
    left: 90px;
    transform: rotate(45deg);
}

.slider__one .slick-slide {
    max-width: 485px;
}

/* POPULAR */

.popular {
    padding-bottom: 50px;
    &__tabs{
        display: none;
        &.popular__tabs--active {
            display: block;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
        }
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        padding-bottom: 30px;
    }
    &-item {
        border-radius: 10px;
        border: 1px solid $darkgrey;
        max-width: 500px;
        display: flex;
        padding: 28px;
        &__img {
            position: relative;
            & img {
                border-radius: 10px;
            }
        }
        &__link-box {
            margin-left: 20px;
        }
        &__link-panel {
            display: flex;
        }
        &__title {
            margin-bottom: 16px;
        }
        &__price{
            display: flex;
            margin-bottom: 10px;
        }
        &__link-panel a {
            margin-right: 5px;
        }
        &__btn {
            @extend %btnbye-pop;
            padding-left: 35px;
            padding-top: 8px;
        }
        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background-color: $lightgrey;
            border-radius: 10px;
        }
    }
    &__btn {
        display: inline-block;
        @extend %montserrat-alternates-500;
        font-size: 13px;
        padding: 5px 15px;
        border: none;
        border-radius: 10px;
        background-color: $lightgrey;
        margin-left: 5px;
        color: $title;
        &:first-child {
            margin-left: 0;
        }
        &:hover {
            background-color: #5ce2ec;
            color: #FFFFFF;
            transition: all .3s;
        }
    }
    &__filter-btn {
        padding-bottom: 30px;
    }
}

/* PARTNERS */

.partners {
    padding-bottom: 50px;
    &__title {
        padding-bottom: 28px;
    }
    &-item__imges {
        object-fit: cover;
    }
}

/* BLOG */

.blog {
    padding-bottom: 70px;
    &-item {
        max-width: 370px;
    }
    &__data {
        background-color: $accent;
        padding: 5px;
        color: #FFFFFF;
        border-radius: 10px;
        position: absolute;
        left: 10px;
        bottom: 10px;
        z-index: 10;
        @extend %montserrat-alternates-500;
        font-size: 11px;
    }
    &__btn {
        display: inline-block;
        padding: 10px 18px;
        position: relative;
        width: 165px;
        height: 40px;
        background-color: $yellow;
        border-radius: 10px;
        @extend %montserrat-alternates-400;
        font-size: 13px;
        color: $title;
        &::after {
            position: absolute;
            content: url(../images/icons/arrow-back-btn.svg);
            top: 12px;
            right: 20px;
        }
        &:hover {
            background-color: $accent;
            color: #FFFFFF;
            transition: all 0.5s;
        }
    }
    &__inner-title {
        padding-bottom: 35px;
    }
    &__title {
        @extend %montserrat-alternates-600;
        font-size: 17px;
        color: $title;
        line-height: 20px;
        margin-bottom: 22px;
    }
    &__anons {
        @extend %montserrat-alternates-400;
        font-size: 13px;
        color: $title;
        line-height: 20px;
        margin-bottom: 20px;
    }
    &-item__img-box {
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
        border-radius: 10px;
    }
}

/* DOUBLE-BANNER */

.double__banner {
    padding-bottom: 40px;
    &-inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    &-left {
        position: relative;
        height: 250px;
        border-radius: 10px;
        overflow: hidden;
    }
    &-box--right {
        position: absolute;
        top: 60px;
        right: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    &-box--left {
        position: absolute;
        top: 60px;
        left: 50px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        transition: all 0.5s;
    }
    &-right {
        position: relative;
        align-items: flex-start;
        height: 250px;
        border-radius: 10px;
        overflow: hidden;
    }
    &-sybtitle {
        @extend %montserrat-alternates-600;
        margin-bottom: 20px;
        font-size: 17px;
        color: $title;
    }
    &-title {
        @extend %montserrat-alternates-600;
        margin-bottom: 40px;
        font-size: 36px;
        color: $accent;
    }
    &-link--blue {
        @extend %btnb;
        &:hover {
            background-color: $accent;
            color: #FFFFFF;
            transition: all 0.5s;
        }
    }
    &-link--yellow {
        @extend %btny;
        &:hover {
            background-color: $accent;
            color: #FFFFFF;
            transition: all 0.5s;
        }
    }
}

/* BANNER */

.banner {
    padding-bottom: 50px;
    &__inner {
        border-radius: 10px;
        max-height: 220px;
        overflow: hidden;
        &-box {
            margin-top: -170px;
            padding-bottom: 28px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    &__sybtitle {
        @extend %montserrat-alternates-600;
        font-size: 19px;
        color: $title;
        margin-bottom: 20px;
        z-index: 10;
    }
    &__title {
        @extend %montserrat-alternates-600;
        font-size: 48px;
        color: $accent;
        margin-bottom: 40px;
        z-index: 10;
    }
    &__link {
        @extend %btny;
        z-index: 10;
        &:hover {
            background-color: $accent;
            transition: all 0.5s;
            color: #FFFFFF;
        }
    }  
}

/* FOOTER */

.footer {
    background-color: $lightgrey;
    &-top {
        display: flex;
        padding: 80px 0 60px;
        &__item + .footer-top__item {
            margin-left: 10px;
        }
        &__logo-title {
            @extend %montserrat-alternates-600;
            font-size: 36px;
            text-transform: uppercase;
            margin-bottom: 32px;
            color: $title;
        }
        &__social-list {
            display: flex;
        }
        &__menu{
            width: 215px;
            &:last-child{
                margin-right: 0;
            }
            &-link {
                @extend %montserrat-alternates-400;
                font-size: 13px;
                line-height: 34px;
                color: $default;
            }
            &-link::before {
                content: url(../images/icons/arrow-right.svg);
                vertical-align: -2px;
            }
        }
        &__social-link {
            display: inline-block;
            background-color: $darkgrey;
            padding: 10px;
            border-radius: 10px;
            &:hover{
                background-color: $yellow;
                transition: all .3s;
            }
        }
        &__social-active {
            background-color: $yellow;
        }
        &__nav {
            width: 600px;
        }
        &__inner {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
        }
        &__card-list {
            display: flex;
        }
        &__card-item {
            margin-right: 12px;
        }
        &__items {
            width: 475px;
            flex-grow: 1;
            margin-right: 15px;
            padding-right: 25px;
        }
        &__title {
            @extend %montserrat-alternates-600;
            font-size: 24px;
            margin-bottom: 22px;
            color: $title;
        }
        &__phone {
            position: relative;
            margin: 0 0 36px 70px;
            &::before {
                position: absolute;
                content: url(../images/icons/footer-support.svg);
                top: 0;
                left: -76px;
            }
        }
        &__qestion {
            @extend %montserrat-alternates-400;
            font-size: 13px;
            margin-bottom: 12px;
            color: $default;
        }
        &__link {
            @extend %montserrat-alternates-600;
            font-size: 22px;
            color: $title;
        }
        &__text {
            @extend %montserrat-alternates-600;
            font-size: 15px;
            margin-bottom: 12px;
            color: $title;
        }
        &__address {
            display: inline-block;
            @extend %montserrat-alternates-400;
            font-size: 13px;
            margin-bottom: 38px;
            color: $default;
        }
    }
    &-bottom {
        background-color: $darkgrey;
        padding: 20px 0;
        text-align: center;
    }
}